Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
Информация о данных:
age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
salary: >50K,<=50

In [5]:
import pandas as pd

In [89]:
data = pd.read_csv("data/adult.data.csv")
data.head()
df = data

print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

1. Посчитайте, сколько мужчин и женщин (признак sex) представлено в этом датасете

In [10]:
males = data[data['sex'] == 'Male']
print(males)

       age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
7       52  Self-emp-not-inc  209642       HS-grad              9
...    ...               ...     ...           ...            ...
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32557   40           Private  154374       HS-grad              9
32559   22           Private  201490       HS-grad              9

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
7      Married-civ-spouse    Exec-managerial        Husband
...                   ...                ...            ...
32553       Never-married       Tech-support  Not-in-family
32554  Married-civ-spouse    Exec-managerial        Husband
32555       Never-married    Protective-serv  Not-in-family
32557  Married-civ-spouse  Machine-op-inspct        Husband
32559       Never-married       Adm-clerical      Own-child

                     race   sex  capital-gain  capital-loss  hours-per-week  \
0                   White  Male          2174             0              40
1                   White  Male             0             0              13
2                   White  Male             0             0              40
3                   Black  Male             0             0              40
7                   White  Male             0             0              45
...                   ...   ...           ...           ...             ...
32553  Asian-Pac-Islander  Male             0             0              11
32554               White  Male             0             0              40
32555               White  Male             0             0              40
32557               White  Male             0             0              40
32559               White  Male             0             0              20

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
7      United-States   >50K
...              ...    ...
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32557  United-States   >50K
32559  United-States  <=50K

[21790 rows x 15 columns]

2. Каков средний возраст мужчин (признак age) по всему датасету?

In [11]:
avgAge = data['age'].mean()
print(avgAge)

38.58164675532078

3. Какова доля граждан Соединенных Штатов (признак native-country)?

In [17]:
usa_share = (data['native-country'] == 'United-States').mean() * 100
print(usa_share)

89.5857006848684

4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год

In [21]:

age_stats = df.groupby('salary')['age'].agg(['mean', 'std'])

print(age_stats)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [33]:
rich_people = df[df['salary'] == '>50K']

print(rich_people['education'].unique())

<StringArray>
[     'HS-grad',      'Masters',    'Bachelors', 'Some-college',
    'Assoc-voc',    'Doctorate',  'Prof-school',   'Assoc-acdm',
      '7th-8th',         '12th',         '10th',         '11th',
          '9th',      '5th-6th',      '1st-4th']
Length: 15, dtype: str

In [36]:
education_dist = df.groupby('salary')['education'].value_counts()

print(education_dist['>50K'])

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Asian-Pac-Islander.

In [43]:
stats = df.groupby(['race','sex'])['age'].describe()
print(stats)

foundMaleStats = stats.loc[('Asian-Pac-Islander','Male'),'max']
print("максимальный возраст мужчин расы Asian-Pac-Islander: ", foundMaleStats)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
максимальный возраст мужчин расы Asian-Pac-Islander:  90.0

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [51]:
onlyMen = df[df['sex']=='Male']
isMarried = onlyMen['marital-status'].str.startswith('Married')

result = df.groupby(isMarried)['salary'].apply(lambda x: (x == '>50K').mean() * 100)

print(result)

marital-status
False     8.449509
True     44.051399
Name: salary, dtype: float64

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [66]:
max_hours = df['hours-per-week'].max()

hard_workers = df[df['hours-per-week'] == max_hours]

print("hard_workers:",len(hard_workers))

rich_hard_workers_people = hard_workers[hard_workers['salary'] == '>50K']

print("rich_hard_workers_people:",len(rich_hard_workers_people))


smth = (len(rich_hard_workers_people)/len(hard_workers)) * 100
print("'%' of People working hard and rich:",(smth))

hard_workers: 85
rich_hard_workers_people: 25
'%' of People working hard and rich: 29.411764705882355

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [82]:
rich_people = df[df['salary'] == '>50K']
poor_people = df[df['salary'] == '<=50K']
workingTimeAvgPoor = poor_people.groupby(['native-country'])[['hours-per-week']].mean()
workingTimeAvgRich = rich_people.groupby(['native-country'])[['hours-per-week']].mean()

poor_col = workingTimeAvgPoor.rename(columns={'hours-per-week': 'Avg Hours <=50K'})
rich_col = workingTimeAvgRich.rename(columns={'hours-per-week': 'Avg Hours >50K'})

# Join them together
comparison_df = pd.concat([poor_col, rich_col], axis=1).sort_values(by='Avg Hours <=50K',ascending=False)

print(comparison_df)

                            Avg Hours <=50K  Avg Hours >50K
native-country
Thailand                          42.866667       58.333333
Dominican-Republic                42.338235       47.000000
Portugal                          41.939394       41.500000
Outlying-US(Guam-USVI-etc)        41.857143             NaN
Greece                            41.809524       50.625000
Yugoslavia                        41.600000       49.500000
Iran                              41.440000       47.500000
Cambodia                          41.416667       40.000000
France                            41.058824       50.750000
Japan                             41.000000       47.958333
Ireland                           40.947368       48.000000
England                           40.483333       44.533333
Laos                              40.375000       40.000000
?                                 40.164760       45.547945
South                             40.156250       51.437500
Mexico                            40.003279       46.575758
Holand-Netherlands                40.000000             NaN
Italy                             39.625000       45.400000
Scotland                          39.444444       46.666667
Guatemala                         39.360656       36.666667
Hong                              39.142857       45.000000
Germany                           39.139785       44.977273
United-States                     38.799127       45.505369
Columbia                          38.684211       50.000000
Puerto-Rico                       38.470588       39.416667
Jamaica                           38.239437       41.100000
India                             38.233333       46.475000
Poland                            38.166667       39.000000
Philippines                       38.065693       43.032787
Ecuador                           38.041667       48.750000
Cuba                              37.985714       42.440000
Canada                            37.914634       45.641026
China                             37.381818       38.900000
Vietnam                           37.193548       39.200000
Trinadad&Tobago                   37.058824       40.000000
Haiti                             36.325000       42.750000
Nicaragua                         36.093750       37.500000
El-Salvador                       36.030928       45.000000
Peru                              35.068966       40.000000
Honduras                          34.333333       60.000000
Taiwan                            33.774194       46.800000
Hungary                           31.300000       50.000000

11.Сгруппируйте людей по возрастным группам young, adult, retiree, где:
young соответствует 16-35 лет
adult - 35-70 лет
retiree - 70-100 лет
Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup

In [88]:
df_analysis = df.copy()

bins = [0, 16, 35, 70, 100]
labels = ['minor', 'young', 'adult', 'retiree']

df_analysis['AgeGroup'] = pd.cut(df_analysis['age'], bins=bins, labels=labels)

print(df_analysis[['age', 'AgeGroup']].head())

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young

12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)

In [98]:
#12
rich_people = df_analysis[df_analysis['salary'] == '>50K'].groupby(['AgeGroup']).size()

print(rich_people)


#13
percentages = df_analysis.groupby('AgeGroup')['salary'].apply(lambda x: (x == '>50K').mean())

# Find the name of the group with the maximum value
most_often_group = percentages.idxmax()

print(f"\nThe group that earns >50K most often is: {most_often_group}")
print(f"Success rate: {percentages.max() * 100:.1f}%")

AgeGroup
young      1705
adult      6042
retiree      94
dtype: int64

The group that earns >50K most often is: adult
Success rate: 35.3%

14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)

In [99]:
import pandas as pd

# 1. Group by occupation and show initial counts
occupation_counts = df.groupby('occupation').size()
print("Initial counts per occupation:")
print(occupation_counts)
print("-" * 30)

# 2. Define the filter function
def filter_func(group):
    # Check if average age is <= 40
    avg_age_ok = group['age'].mean() <= 40
    # Check if EVERY worker in this group works more than 5 hours
    min_hours_ok = (group['hours-per-week'] > 5).all()
    
    return avg_age_ok and min_hours_ok

# 3. Apply the filter
# This returns a DataFrame containing only the rows from valid groups
filtered_df = df.groupby('occupation').filter(filter_func)

# 4. Show the results
remaining_occupations = filtered_df['occupation'].unique()
print("Occupations that passed the filter:")
print(remaining_occupations)

# Optional: Show the average age of the groups that passed
print("\nStats for passing groups:")
print(filtered_df.groupby('occupation')['age'].mean())

Initial counts per occupation:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
------------------------------
Occupations that passed the filter:
<StringArray>
['Armed-Forces']
Length: 1, dtype: str

Stats for passing groups:
occupation
Armed-Forces    30.222222
Name: age, dtype: float64